
<style>
* {
    box-sizing: border-box;
}
 
body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}


/* Header/Blog Title */
.header {
    padding: 20px;
    text-align: center;		
    width:100%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
	
}

.headerimg{
	/*background-image: url("https://b.thumbs.redditmedia.com/oy9VnYHOrajBhnOrazUEyYexY5YkQxXxEh9Tg82wWEs.png"), target="blank";*/
	background-image: url("images/Pro Logo2.jpg"), target="blank";
	
    	/*background-repeat:no-repeat;*/	
	width:auto;
	height: auto;
}

bsChrome,
.bsChrome {
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #d4d4d4;
    font-weight: normal;
    color: #555555;
    padding: 11px, 11px, 11px, 11px;
    vertical-align: middle;
    background-image: url(images/Chrome_Icon.svg);
}

bsEdge,
.bsEdge {
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #d4d4d4;
    font-weight: normal;
    color: #555555;
    padding: 11px, 11px, 11px, 11px;
    vertical-align: middle;
    background-image: url(images/Edge_Icon.svg);
}

bsFirefox,
.bsFirefox {
/*    height: 14px;
    width: 14px; */
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #d4d4d4;
  /*  background-color: #f1f1f1;*/
    font-weight: normal;
    color: #555555;
    padding: 11px, 11px, 11px, 11px;
    vertical-align: middle;
    background-image: url(images/Firefox_Icon.svg);
}

bsOpera,
.bsOpera {
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #d4d4d4;
    font-weight: normal;
    color: #555555;
    padding: 11px, 11px, 11px, 11px;
    vertical-align: middle;
    background-image: url(images/Opera_Icon.svg);
}

bsSafari,
.bsSafari {
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #d4d4d4;
    font-weight: normal;
    color: #555555;
    padding: 11px, 11px, 11px, 11px;
    vertical-align: middle;
    background-image: url(images/Safari_Icon.svg);
}
.button {
   border-top: 1px solid #96d1f8;
   background: #007ccf;
   background: -webkit-gradient(linear, left top, left bottom, from(#006db5), to(#007ccf));
   background: -webkit-linear-gradient(top, #006db5, #007ccf);
   background: -moz-linear-gradient(top, #006db5, #007ccf);
   background: -ms-linear-gradient(top, #006db5, #007ccf);
   background: -o-linear-gradient(top, #006db5, #007ccf);
   padding: 18px 36px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 23px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 10px auto 10px auto;
   }
.button:hover {
   border-top-color: #006cab;
   background: #006cab;
   color: #ffffff;
   }

/*
.button:active {
   border-top-color: #000000;
   background: #000000;
   }
*/

.bgSizeContain {
  background-image: url("https://b.thumbs.redditmedia.com/oy9VnYHOrajBhnOrazUEyYexY5YkQxXxEh9Tg82wWEs.png");
  background-size: 160;
  width: 160px;
  height: 160px;
  border: 2px solid;
  color: grey;
  resize: both;
  overflow: scroll;
}
	
.header h1 {
    font-size: 50px;
}
/*
table.browserref td {
    border: 1px solid #d4d4d4;
    text-align: center;
    padding: 8px;
    vertical-align: top;
}
*/

.cardSpace {
  row-gap: 40px;  
}

.container {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

table.browserref {
    border-collapse: collapse;
    width: 100%;
    display: block;
    /* height:50px;
    max-height:75px; 
    padding: 8px auto 8px auto;*/
}

th {
  height: 25px;
  padding: 4px 8px 4px 8px ;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    padding: 20px;
    margin: 20px  auto 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 80%;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
   /* margin: 10px auto 10px auto;
	margin-bottom: 20px; */
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}
/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
	
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
	
}

/* Add a card effect for articles */
.card {
    background-color: grey;
    padding: 20px;
    margin: 20px  auto 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 80%;
}
	
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.marginauto {
    margin: 10px auto 20px;
    display: block;
}

li{
  list-style-image: url('images/Checkmark_Icon.svg');
  height: 25px;
  display: block;
  /*float: left;*/
  list-style: none;
  margin-right: 20px;
}

footer,
.footer {
    text-align: center;
    background: #ddd;
    position: relative;
    bottom: 0;
    height: 30px;
    padding: 20px;
    margin: 20px  auto 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 80%;

}
	
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of 
	each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
	
#wrapper {
    width: 100%;
    overflow: hidden;
}

#container {
    width: 100%;
    margin: 0 auto;
}
.banner-img {
    width: 100%;
}
	
</style>
		
</head>
		
<body>
